@import 'vars';
@import 'typography';
@import 'mixins';
@import 'directives/_builditem';
@import 'directives/_boxes';

body {
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}