<div class="about-us">
	<h1>{{about.title}}</h1>
	<p >A ver si anda esta {{about.description}}</p>
	<button type="button" class="btn btn-success" ng-click="getCollaborators();">
  	Get Collabs
	</button>

	<ul class="contributors row list-unstyled">
		<li ng-repeat="(key, value) in contributors" class="col-sm-4">
			<img src="{{value.avatar_url}}"/>
			<div><strong>Contributions:</strong> {{value.contributions}}</div>
			<div><strong>User:</strong><a ng-href="{{value.html_url}}" target="_blank"> {{value.login}}</a></div>
		</li>
	</ul>
</div>